---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gallery-nginx-config
  namespace: container-course-week01
data:
  default.conf: |
    server {
        listen 80;
        server_name _;

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }

        # API endpoint that returns student data
        location /api/students {
            default_type application/json;
            return 200 '{"students": [{"name":"Jared Gore","github_username":"jlgore","health_endpoint":"/health"},{"name":"Omar Masood","github_username":"omar-masood","health_endpoint":"/health"},{"name":"Mohammad Siddiqi","github_username":"almsid","health_endpoint":"/health"},{"name":"Otajon Burkhonov","github_username":"otajon99","health_endpoint":"/health"},{"name":"Emma Zinyak","github_username":"emmzi55","health_endpoint":"/health"},{"name":"zia ahmadi","github_username":"zahmadi57","health_endpoint":"/health"},{"name":"Wais Satari","github_username":"waissat","health_endpoint":"/health"}]}';
        }
    }
