---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gallery-nginx-config
  namespace: container-course-week01
data:
  default.conf: |
    server {
        listen 80;
        server_name _;

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }

        # API endpoint that returns student data
        location /api/students {
            default_type application/json;
            return 200 '{"students": [{"name":"Jared Gore","github_username":"jlgore"},{"name":"Otajon Burkhonov","github_username":"Otajon99"}]}';
        }
    }
